{% extends 'history/dashboard.html' %}
{% load crispy_forms_tags %}
{% block title %}Expenses Details{% endblock title %}
{% block content %}
<section class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-3 expense-form mx-auto">
            <form action="" method="post">
                {% csrf_token %}
                {{expense_form|crispy }}
                <input class="btn btn-primary my-2" type="submit" value="Submit">
            </form>
        </div>
        <div class="col-lg-9">
            <table class="table table-striped table-hover rounded shadow">
                <thead>
                    <tr>
                        <th scope="col">S/L</th>
                        <th scope="col">Date</th>
                        <th scope="col">Month</th>
                        <th scope="col">Year</th>
                        <th scope="col">Expense Details</th>
                        <th scope="col">Expense Amount</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr>
                        <th>{{forloop.counter}}</th>
                        <td>{{expense.date}}</td>
                        <td>{{expense.month}}</td>
                        <td>{{expense.year}}</td>
                        <td>{{expense.expense_details}}</td>
                        <td>{{expense.amount}}</td>
                        <td>
                            <a href="{% url 'edit_expense' expense.id %}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="{% url 'delete_expenses' expense.id %}" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}

            </table>
            {% if expenses.has_previous %}
            <a class="btn prev-btn btn-success mb-3" href="?p={{expenses.previous_page_number}}">previous</a>
            {% endif %}
            {{expenses.number}}
            {% if expenses.has_next %}
            <a class="btn next-btn btn-success mb-3" href="?p={{expenses.next_page_number}}">next</a>
            {% endif %}
        </div>
    </div>

</section>
{% endblock content %}