{% extends 'history/dashboard.html' %}
{% block title %}Years{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<section>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-3">
                <form action="" method="post">
                    {% csrf_token %}
                    {{forms|crispy}}
                    <input class="btn btn-primary my-3" type="submit" value="Submit">
                </form>

            </div>
            <div class="col-lg-9">
                <table class="table table-striped table-hover rounded shadow">
                    <thead>
                        <tr>
                            <th scope="col">S/L</th>
                            <th scope="col">Name</th>
                            <th scope="col">Active</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for year in years %}
                        <tr>
                            <th>{{forloop.counter}}</th>
                            <td>{{year.year}}</td>
                            <td>{{year.active}}</td>
                            <td>
                                <a href="{% url 'edit_years' year.id %}" class="btn btn-sm btn-warning">Edit</a>
                        </tr>
                        {% endfor %}
            
                </table>
                {% if years.has_previous %}
                <a class="btn prev-btn btn-success mb-3" href="?p={{years.previous_page_number}}">previous</a>
                {% endif %}
                {{years.number}}
                {% if years.has_next %}
                <a class="btn next-btn btn-success mb-3" href="?p={{years.next_page_number}}">next</a>
                {% endif %}

            </div>
        </div>
    </div>
</section>
{% endblock %}